# API Configuration
REACT_APP_API_BASE_URL=
REACT_APP_API_IMG_URL=

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=

# Firebase Messaging VAPID Key
REACT_APP_FIREBASE_VAPID_KEY=

# App Configuration
REACT_APP_ENV=development
